<div class="container marketing">
    <div class="row featurette">
      <div class="col-md-5" style="padding-top:200px;">
        <div class="col-md-12 ">
          <h2 class="featurette-heading text-color-white ">My technical interests and projects are in:</h2>
        </div>
        <div class="col-md-15" style="padding-top:5px;">
        <p>
          <span class="label"><a href="https://github.com/itsVinM/Linux_system_info">System programming</a></span><br>
          <span class="label"><a href="https://github.com/itsVinM/FinancialDashboard">Data analysis (financial)</a></span><br>
          <span class="label"><a href="https://github.com/itsVinM/Current_Control_Motor">Engineering Simulations (thermomechanical, eDrives and dynamics)</a></span><br>
          <span class="label"><a href="https://github.com/itsVinM/Python_Project_Tracker">WebDevelopment</a></span>
        </p>
        </div>
      </div>
      
    </div>
  </div>

<div class="container marketing">
    <div class="row featurette">
      <div class="col-md-5" style="padding-top:50px;">
        <div class="col-md-12 ">
          <h2 class="featurette-heading text-color-white ">On my free time, I am :</h2>
        </div>
        <div class="col-md-15" style="padding-top:5px;">
        <p>
            <span class="label">an adventurer and traveler</span><br>
            <span class="label">Sport enthusiast<br>
            <span class="label">Cook<br>
                
            </p>
        </div>
      </div>
      
    </div>
  </div>