<nav class="navbar fixed-top">
  <div class="container-fluid">
    <nav id="nav-menu-container">
      <ul class="nav">
        <li class="nav_links">
          <a href="/aboutme" class="nav-link" style="color: #ecaa30; text-decoration: none; font-weight: bold; margin-right: 30px; font-size: 28px; transition: color 0.3s;">Experience</a>
          <a href="/home" class="nav-link" style="color: #ecaa30; text-decoration: none; font-weight: bold; margin-right: 30px; font-size: 28px; transition: color 0.3s;">Home</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
<div style="height: 100px"></div>
